<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active-list-item">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="#EEEEEE" class="fixed-toolbar mat-elevation-z2">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <span flex></span>
      <button mat-button style="text-transform: uppercase;" (click)="logout()">
        <mat-icon aria-hidden="false" aria-label="home icon">exit_to_app</mat-icon>Sair
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>