<div fxLayout="row" fxLayoutGap="10px" class="m-3">
  <mat-card fxFlex="50">
    <mat-card-header>
      <mat-card-title>title</mat-card-title>
      <mat-card-subtitle>subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" [formGroup]="categoryForm">
      <mat-form-field class="w-100" fxFlex="100" appearance="standard">
        <mat-label>Nome da categoria</mat-label>
        <input formControlName="name" matInput placeholder="Título da categoria">
      </mat-form-field>
      <mat-form-field class="w-100" fxFlex="100" appearance="standard">
        <mat-label>Descrição da categoria</mat-label>
        <input formControlName="description" matInput placeholder="Descrição da categoria">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!loading && !editing" [disabled]="categoryForm.invalid" color="primary" (click)="create()"
        mat-raised-button>Enviar
        categoria</button>
      <button *ngIf="!loading && editing" [disabled]="categoryForm.invalid" color="primary" (click)="update()"
        mat-raised-button>Atualizar
        categoria</button>
      <mat-spinner *ngIf="loading" [diameter]="30">
      </mat-spinner>

    </mat-card-actions>
  </mat-card>
  <div class="w-100" fxFlexFill fxFlex="50">
    <div fxLayout="column">
      <div fxFlex="100">
        <mat-form-field class="w-100">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">

          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell *matCellDef="let row"> <button (click)="edit(row)" mat-mini-fab>
                <mat-icon>edit</mat-icon>
              </button> </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Deletar </th>
            <td mat-cell *matCellDef="let row;"> <button (click)="delete(row._id)" mat-mini-fab>
                <mat-icon>delete</mat-icon>
              </button> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>





  </div>

</div>