<div fxLayout="row" style="min-height: 80vh;" fxLayoutAlign="center center">
  <mat-card fxFlex="50">
    <mat-card-header>
      <mat-card-title>Cadastro Civit</mat-card-title>
      <mat-card-subtitle>Para acessar as outras funcionalidades do sistema você deve fazer o cadastro
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column">
        <mat-form-field class="w-100" fxFlex="100" appearance="standard">
          <mat-label>Nome</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="w-100" fxFlex="100" appearance="standard">
          <mat-label>CPF</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="w-100" fxFlex="100" appearance="standard">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="w-100" fxFlex="100" appearance="standard">
          <mat-label>Telefone</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="w-100" fxFlex="100" appearance="standard">
          <mat-label>Senha</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="w-100" fxFlex="100" appearance="standard">
          <mat-label>Confirmação da senha</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button>Cadastrar</button>
    </mat-card-actions>
  </mat-card>
</div>